#----Environment----
/**/.env
#-------------------
#-----Intellij------
.idea/
.idea_modules/
#-------------------
#-------Bazel-------
bazel-*
.ijwb
#-------------------
#-------VSCode------
.vscode
#-------------------
